.env
ghost
mysql/data
www
www_go
satis/composer/cache
reveal/php-good-practice
nginx/logs
redis/data
ssh-outside
web/package
!web/package/.gitignore
golang/package/*.*
golang/log/*.log
golang/log/supervisor/*
golang/log/apt/*
ghost/
web/log
elasticsearch/data/*
!elasticsearch/data/.gitignore
mongodb/data/*